<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">


<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Automobili</title>
</head>

<body class="bg-secondary">
    <th:block th:replace="~{fragment :: bootstrap}"></th:block>
    <th:block th:replace="~{fragment :: navBar}"></th:block>
    <div class="col-8 container mx-auto">
        <form th:action="@{/automobili/edit/{id}(id=${automobile.id})}" th:object="${automobile}" method="post">
            <input type="hidden" th:field="*{id}" />
            <div class="mb-3">
                <label class="form-label" for="name">Nome Automobile:</label>
                <input class="form-control" type="text" id="modello" th:field="*{modello}" th:errorClass="is-invalid">
                <div class="invalid-feedback" th:if="${#fields.hasErrors('modello')}">
                    <ul>
                        <li th:each="error : ${#fields.errors('modello')}" th:text="${error}"></li>
                    </ul>
                </div>
            </div>

            <div class="mb-3">
                <div class="single-optional form-check" th:each="optional : ${optional}">
                    <input type="checkbox" th:id="|optional-${optional.id}|" th:field="*{optionalList}"
                        th:value="${optional.id}" />
                    <label th:for="|optional-${optional.id}|" class="form-check-label" th:text="${optional.nome}" />
                </div>
            </div>

            <div class="mb-3">
                <label class="form-label" for="marca">marca:</label>
                <textarea class="form-control" id="marca" th:field="*{marca}" th:errorClass="is-invalid"></textarea>
                <div class="invalid-feedback" th:if="${#fields.hasErrors('marca')}">
                    <ul>
                        <li th:each="error : ${#fields.errors('marca')}" th:text="${error}"></li>
                    </ul>
                </div>
            </div>

            <div class="mb-3">
                <label class="form-label" for="prezzo">Prezzo:</label>
                <textarea class="form-control" id="prezzo" th:field="*{prezzo}" th:errorClass="is-invalid"></textarea>
                <div class="invalid-feedback" th:if="${#fields.hasErrors('prezzo')}">
                    <ul>
                        <li th:each="error : ${#fields.errors('prezzo')}" th:text="${error}"></li>
                    </ul>
                </div>
            </div>

            <div class="mb-3">
                <label class="form-label" for="anno_produzione">Anno produzione:</label>
                <input class="form-control" type="number" step="0.01" id="anno_produzione" th:field="*{anno_produzione}"
                    th:errorClass="is-invalid">
                <div class="invalid-feedback" th:if="${#fields.hasErrors('anno_produzione')}">
                    <ul>
                        <li th:each="error : ${#fields.errors('anno_produzione')}" th:text="${error}"></li>
                    </ul>
                </div>
            </div>

            <div class="mb-3">
                <label class="form-label" for="carburante">Carburante:</label>
                <input class="form-control" type="text" id="carburante" th:field="*{carburante}"
                    th:errorClass="is-invalid">
                <div class="invalid-feedback" th:if="${#fields.hasErrors('carburante')}">
                    <ul>
                        <li th:each="error : ${#fields.errors('carburante')}" th:text="${error}"></li>
                    </ul>
                </div>
            </div>

            <div class="mb-3">
                <label class="form-label" for="trasmissione">trasmissione:</label>
                <input class="form-control" type="text" id="trasmissione" th:field="*{trasmissione}"
                    th:errorClass="is-invalid">
                <div class="invalid-feedback" th:if="${#fields.hasErrors('trasmissione')}">
                    <ul>
                        <li th:each="error : ${#fields.errors('trasmissione')}" th:text="${error}"></li>
                    </ul>
                </div>
            </div>

            <div class="mb-3">
                <label class="form-label" for="immagine_url">immagine(URL):</label>
                <input class="form-control" type="text" id="immagine_url" th:field="*{immagine_url}"
                    th:errorClass="is-invalid">
                <div class="invalid-feedback" th:if="${#fields.hasErrors('immagine_url')}">
                    <ul>
                        <li th:each="error : ${#fields.errors('immagine_url')}" th:text="${error}"></li>
                    </ul>
                </div>
            </div>

            <div class="mb-3">
                <label class="form-label" for="descrizione">Descrizione:</label>
                <input class="form-control" type="text" id="descrizione" th:field="*{descrizione}"
                    th:errorClass="is-invalid">
                <div class="invalid-feedback" th:if="${#fields.hasErrors('descrizione')}">
                    <ul>
                        <li th:each="error : ${#fields.errors('descrizione')}" th:text="${error}"></li>
                    </ul>
                </div>
            </div>

            <button type="submit" class="btn btn-primary">Edita Automobile</button>

        </form>
    </div>

</body>

</html>