<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">


<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Automobili</title>
</head>

<body class="bg-secondary">
    <th:block th:replace="~{fragment :: bootstrap}"></th:block>
    <th:block th:replace="~{fragment :: navBar}"></th:block>
    <div class="container mx-auto">
        <h1 class="text-center mt-5 mb-5 p-5 text-light">Le nostre automobili!</h1>

        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-4">
            <div class="col" th:each="automobile : ${automobili}" th:object="${automobile}">
                <div class="card h-100 shadow-sm border-0">
                    <img th:src="*{immagine_url}" class="card-img-top img-fluid" alt="auto-img"
                        style="height: 200px; object-fit: cover;">
                    <div class="card-body">
                        <h3 class="card-title mb-1">[[*{marca}]]</h3>
                        <h5 class="card-title mb-1">[[*{modello}]]</h5>
                        <strong>
                            <p class="mb-1">Prezzo: [[*{prezzo}]] $</p>
                        </strong>
                        <p class="card-text text-muted">Anno: <strong>[[*{anno_produzione}]]</strong></p>
                        <p class="card-text text-muted">carburante: <strong>[[*{carburante}]]</strong></p>
                        <p class="card-text text-muted">Trasmissione: <strong>[[*{trasmissione}]]</strong></p>
                        <a href="#" class="btn btn-outline-primary btn-sm">Dettagli</a>
                    </div>
                </div>
            </div>
        </div>
    </div>


</body>

</html>