<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">


<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Automobili</title>
</head>

<body class="bg-secondary">
    <th:block th:replace="~{fragment :: bootstrap}"></th:block>
    <th:block th:replace="~{fragment :: navBar}"></th:block>

    <div class="container mx-auto mb-5" th:object="${automobile}">
        <h1 class="text-center mt-5 text-light">[[*{marca}]]</h1>
        <h5 class="text-center mb-5 text-light">[[*{modello}]]</h5>
        <div class=" d-flex">
            <img th:src="*{immagine_url}" class="card-img-top img-fluid rounded-4 mx-5" alt="auto-img"
                style="height: 500px; width: 700px; object-fit: cover;">
            <div class="text-light">
                <h3 class="mb-1 fs-1"></h3>

                <strong>
                    <p class="fs-3">Prezzo: [[*{prezzo}]] $</p>
                </strong>
                <p class="fs-3">Anno: <strong>[[*{anno_produzione}]]</strong></p>
                <p class="fs-3">Carburante: <strong>[[*{carburante}]]</strong></p>
                <p class="fs-3">Trasmissione: <strong>[[*{trasmissione}]]</strong></p>
                <p class="fs-4">Descrizione: <strong>[[*{descrizione}]]</strong></p>
                <p class="fs-4">Optionals: </p>
                <ul>
                    <li th:each="optional : *{optionalList}" th:text="${optional.nome}"></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container mt-5 mb-5 bg-dark">
        <a class="btn btn-outline-primary btn-sm mt-5 mb-5" th:href="@{/automobili/{id}/recensioni(id=*{id})}">Aggiungi
            recensione</a>
        <table>
            <thead>
                <tr>
                    <th class="text-light mx-2" scope="col">Id</th>
                    <th class="text-light" scope="col">Descrizione</th>
                    <th class="text-light" scope="col">Valutazione</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="recensione : ${recensioni}" th:object="${recensione}">
                    <td class="text-light">[[*{id}]]</td>
                    <td class="text-light">[[*{descrizione}]]</td>
                    <td class="text-light">[[*{valutazione}]]</td>
                    <td><a class="btn btn-success btn-sm" th:href="@{/recensioni/edit/{id}(id=${recensione.id})}">Edit
                    </td>
                    <td>
                        <button type="button" class="btn btn-danger btn-sm" data-bs-toggle="modal"
                            th:data-bs-target="'#delete-modal-' + ${recensione.id}">
                            Delete
                        </button>
                        <div class="modal fade" tabindex="-1" th:id="'delete-modal-' + ${recensione.id}">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title">Delete [[*{descrizione}]]</h5>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal"
                                            aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body">
                                        <p>Sei sicuro di voler eliminare la recensione?</p>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary"
                                            data-bs-dismiss="modal">Chiudi</button>
                                        <form method="post" th:action="@{/recensioni/delete/{id}(id=${recensione.id})}">
                                            <button type="submit" class="btn btn-danger btn-sm">Conferma
                                                elimina</button>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </td>
                </tr>

                </tr>
            </tbody>
        </table>
    </div>
    <th:block th:replace="~{fragment :: script-bootstrap}"></th:block>

</body>


</html>