<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">


<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Homepage</title>
</head>

<body>
    <th:block th:replace="~{fragment :: bootstrap}"></th:block>
    <th:block th:replace="~{fragment :: navBar}"></th:block>
    <div class="container mx-auto">
        <h1 class="text-center">Il mio concessionario!</h1>
        <h5>Acquista auto nuove a km 0!</h5>
    </div>

</body>

</html>